@import '../../fonts/fonts'

.container
    display: flex
    flex-direction: column

    justify-content: center
    align-items: center

    width: 100%

    .title
        font-size: 80px
        font-family: $title-font

        margin-top: 64px
        color: #0B367D